@import "reset.styl"
@import "helpers.styl"
@import "color.styl"
@import "animation.styl"
@import "shadow.styl"
@import "grid.styl"
@import "typography.styl"

#wrapper
    margin: 24px 10%

body
    fontsize(16,24)

.element
    margin: 36px 0
    border-top: 3px solid $md-teal

h2.element-title
    color: $md-teal
    margin-bottom: 24px
    caps()
    fontsize(18,24)