#st-body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#st-iframe-wrapper {
  width: 100%;
  height: 100%;
  padding: 40px 0 0 0;
  padding: 2.5rem 0 0 0;
}
#st-iframe-wrapper iframe {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
#st-footer {
  display: none;
}
#st-site-header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  height: 2.5rem;
  background-color: #333;
  color: #fff;
  z-index: 100000000;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 3.3333333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#st-site-header .st-open-tester {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2.5;
}
#st-site-header ul,
#st-site-header li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#st-site-header a {
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
  padding: 0 16px;
  padding: 0 1rem;
  display: block;
}
#st-main-menu #st-show-menu {
  display: none;
}
#st-main-menu .st-group-menu,
#st-main-menu .st-open-tester {
  display: inline-block;
  position: relative;
}
#st-main-menu .st-second-menu {
  max-height: 0;
  overflow: hidden;
  width: 200px;
  width: 12.5rem;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  color: #fff;
  z-index: 100000000;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
#st-main-menu .st-second-menu.st-visible {
  max-height: 1200px;
  overflow: visible;
}
#st-main-menu .st-second-menu a {
  border-bottom: 1px solid;
}
#st-main-menu .st-third-menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  text-transform: lowercase;
  background-color: #222;
}
#st-main-menu .st-third-menu.st-visible {
  max-height: 1200px;
  overflow: visible;
}
